body {background-color: #000000; color: #ffa500; font-family: Futura, Arial, sans-serif; margin-left: 10%; margin-right: 10%; margin-top: 10%; max-width: 700px; font-size: small;
}

table {max-width: 700px
}

td {border: 0px; border-radius: 15px; padding: 0px; cursor: default; color: #70dbdb;}

tr {margin-bottom: 10px}

#td1 {border: 5px solid #70dbdb; border-radius: 15px; padding: 5px; cursor: pointer;}

#command {text-align: center}

p.border {border-radius: 15px; border: 5px solid #ffa500; padding: 15px;}

span {color: #70dbdb}

#td4 {border-left: 5px}
